.nav-aside {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 3;
  background: $cl-lightblue;
  color: $cl-white;
  display: flex;
  flex-direction: column;
  margin: 0;
  transition: left 1s ease-in-out;
  align-items: center;
}

.nav-aside--on {
  left: 0;
  transition: left 0.5s ease-in-out;
}

.nav-aside--off {
  left: -100%;
  transition: left 0.5s ease-in-out;
}

.nav-aside__logo {
  height: 47px;
  width: 80%;
  border-bottom: 1px solid $cl-page1;
}

.nav-aside__list {
  width: 60%;
  display: flex;
  height: 269px;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 269px;
  overflow-y: auto;
  a {
    display: flex;
    align-items: center;
    height: calc(100% / 7);
    color: $cl-heading-1;
    font-size: 1.3rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
}
