// This body-cover will make the page darker for user to focus on some other important elements above it
.body-cover {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0px;
}

.body-cover--on {
  display: flex;
}

.body-cover--off {
  display: none;
}
