.footer {
  width: 100%;
}

.footer__subscription, .footer__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__subscription {
  background: $cl-blue-lighter;
  height: 340px;
  form {
    height: 30px;
    display: flex;
  }
  h2 {
    color: $cl-gray;
    font-size: 1.6rem;
  }
  p {
    padding: 30px 0;
    color: $cl-gray;
    font-size: 1.4rem;
    text-align: center;
  }
}

.footer__social-media {
  height: 265px;
  background: $cl-black-light;
  h2 {
    color: $cl-white;
    font-size: 1.6rem;
  }
  p {
    color: $cl-white;
    font-size: 1.4rem;
  }
  .icon {
    display: flex;
    justify-content: space-evenly;
    margin: 42px 0 22px 0px;
    a {
      font-size: 27px;
      background: $cl-gray-dark;
      height: 50px;
      width: 50px;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      color: $cl-white;
      &:hover {
        background: $cl-blue-light;
      }
    }
  }
}
