.main {
  margin-top: 48px;
  margin-bottom: 40px;
}

.section {
  margin-top: 20px;
  padding: 0px 10px;
}

.section__head {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: $cl-blue-dark;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.section__content {
  width: 100%;
}

// Recommended-news section in the detail-page
.section--recommended-news {
  //TODO
}

.section__head--recommended-news {
  //TODO
}

.section__content--recommended-news {
  //TODO
}

// News-detail section in the detail-page
.section--news-detail {
  //TODO
}

.section__head--news-detail {
  display: none;
}

.section__content--news-detail {
  //TODO
}

// News-page article in the detail-page
.news-page {
  //TODO
}

.news-page__head {
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  h3 {
    color: $cl-black;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.news-page__time {
  height: 30px;
  color: $cl-blue-light;
  font-size: 1.1rem;
  line-height: 30px;
}

.news-page__share {
  height: 50px;
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 130px;
    margin-right: 15px;
    color: $cl-white;
    i {
      font-size: 22px;
    }
    &:nth-child(1) {
      background: $cl-facebook-background-blue;
    }
    &:nth-child(2) {
      background: $cl-twitter-background-blue;
    }
    &:nth-child(3) {
      background: $cl-google-plus-background-orange;
    }
  }
}

.news-page__content {
  line-height: 18px;
  font-size: 1.2rem;
  ul {
    margin-left: 14px;
  }
}
