.btn {
  cursor: pointer;
  outline: none;
  border: none;
}

.btn--send-feedback {
  height: 32px;
  border-radius: 5px;
  border: none;
  color: $cl-white;
  background: $cl-send-feedback-button-background-blue;
}

.btn--toggle-mobile {
  border: 1px solid $cl-gray-light;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $cl-white;
}

.btn--close-nav-aside {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $cl-gray;
  background: $cl-white;
  font-size: 1.7rem;
  left: calc(100% + 5px);
  top: 5px;
}

.btn--search {
  margin: 0;
  width: 45px;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
}

.btn--toggle-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border: none;
  background: $cl-transparent;
}

.btn--toggle-feedback {
  height: 40px;
  width: 98px;
  text-align: center;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  right: 5%;
  background: $cl-feedback-button-background-black;
  color: $cl-white;
  font-size: 14px;
  border-radius: 5px 5px 0px 0px;
  z-index: 1;
}

// Disable feedback__toggle when screen lower than 1230px;
@media not screen and (min-width: $screen-min-xlg) {
  .btn--toggle-feedback {
    display: none;
  }
}

.btn--subscription {
  background: $cl-subscription-button-background-blue;
  width: 51px;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  color: $cl-white;
  cursor: pointer;
  &:hover {
    background: $cl-blue-dark;
  }
}
