// Font-size for extra small screen
html {
  font-size: $fs-xs;
}

// Font-size for small screen
@media not screen and (max-width: $screen-min-sm) {
  html {
    font-size: $fs-sm;
  }
}

// Font-size for medium screen
@media not screen and (max-width: $screen-min-md) {
  html {
    font-size: $fs-md;
  }
}

// Font-size for large screen
@media not screen and (max-width: $screen-min-lg) {
  html {
    font-size: $fs-lg;
  }
}

// Font-size for extra-large screen
@media not screen and (max-width: $screen-min-xlg) {
  html {
    font-size: $fs-xlg;
  }
}
