.header__search {
   .logo__search {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 20px;
     i {
       height: 24px;
       width: 22px;
       display: block;
       background: url("https://www.businessinsider.in/photo/60391179.cms");
       background-position: -10px -7px;
       cursor: pointer;
     }
   }
 }